/*
_footer.scss
*******************************************************************************************************************/
.footerWrap{
    padding-top: 30px !important;
    padding-bottom: 5px !important;
}

@media (min-width: $bp-md){
    .footerWrap{
        padding-top: 50px !important;
        padding-bottom: 25px !important;
    }
}

/* gototop
-------------------------------------------------- */
.pagetop{
    @include fxrow-je;
    
    &__lnk {
        display: inline-block;
        width: 100px;
        height: 50px;
        @include transition(.3s);
        position: relative;
        
        &::before,
        &::after{
            content: "";
            width: 80%;
            height: 2px;
            background-color: $color-t1;
            @include transition(.3s);
        }
        
        &::before{
            transform: rotate(39deg);
            position: absolute;
            top: 25px;
            right: -8px;
        }
        
        &::after{
            @include transform-ro(-39deg);
            position: absolute;
            top: 25px;
            left: -8px;
        }
        
        &:hover {
            background-color: $color-t1;
        }
        
        &:hover::before,
        &:hover::after{
            background-color: #fff;
        }
    }
}


/* footerWrap
-------------------------------------------------- */
.footerWrap{
    font-size: 1.2rem;
    color: $color-t1 !important;
    background-color: #adadb9;
    
    .footerSitemap {
        margin-bottom: 25px;
        
        &__list{
            @include fxrow;
            @include --fxwrap;
        }
        
        &__itm{
            margin-bottom: 5px;
        }
        
        &__lnk {
            padding: 0 10px;
            color: $color-t1;
            text-transform: capitalize;
            position: relative;
            
            &::after{
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                width: 1px;
                height: 100%;
                @include transform-ro(20deg);
                background-color: $color-t1;
            }
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.footerInfo {
    color: $color-t1;
    padding-left: .7rem;
    
    
    li{
        padding-left: 1.5em;
        text-indent: -1.0em;
    }
    
    
    &__lnk {
        color: $color-t1;
    }
    
    i {
        margin-right: 5px;
        color: $color-t1;
        font-weight: bold;
    }
    
}

@media (min-width: $bp-md){
    .footerWrap{
        font-size: 1.4rem;
        
        .footerSitemap {
            
            
        }
    }
}

/* copyWrap
-------------------------------------------------- */
.copyWrap{
    padding:0 !important;
    color: #fff;
    font-size: 1rem;
    background-color: #333; 
    
    .copyBody{
        padding: 10px 0;
        @include fxcol-ac-jc;
    }
    
    .copyNav{
        @include fxrow-ac-jc;
        margin-bottom: 5px;
        
        &__lnk {
            margin:0 10px;
            color: #fff;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

@media (min-width: $bp-md){
    .copyWrap{
        .copyBody{
            @include fxrow-ac-jsb;
        }
    }
}