/*
_header.scss
*******************************************************************************************************************/

/* l-header
-------------------------------------------------- */
.l-header{
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.50);
    box-shadow: 0 0 15px rgba(0,0,0,0.50);
    
    .header__content{
        height: 100%;
        margin: 0 auto;
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: $bp-md){
    .l-header{
        background-color: transparent;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

/* logo
-------------------------------------------------- */
.logoSP {
    position: absolute;
    top: 9px;
    left: 10px;
    
    &__lnk{
        width: 100%;
        height: 100%;
        @include fxrow-ac-jc;
    }
    
    &__img{
        height: 30px;
        width: auto;
        margin-right: 5px;
    }
    
    &__txt{
        font-size: 1.7rem;
        color: $color-t1;
    }
    
    &:hover{
        opacity: .9;
    }
}

@media (min-width: $bp-md){
    .logoSP {
        display: none;
    }
    
    .logoPC {
        width: 200px;
        height: 100px;
        border: 1px solid $color-t1;
        background-color: #fff;
        @include fxrow-ac-jc;
        
        &__lnk{
            @include fxrow-ac-jc;
            width: 100%;
            height: 100%;
        }
        
        &__img{
            height: 30px;
            width: auto;
        }
        
        &__txt{
            font-size: 1.7rem;
            color: $color-t1;
        }
        
        &:hover{
            opacity: .9;
        }
    }
}

/* hamburger
-------------------------------------------------- */
.hamburger{
    z-index: 200;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    font-size: 2.4rem;
    text-decoration: none;
    background-color:$color-t1;
    @include fxrow-ac-jc;
    @include transition(0.3s);
}

.mark{
    margin-top: 3px;
}

.markMenu{
    width: 100%;
    height: 20px;
    position: relative;
    
    &__top,
    &__bottom {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 24px;
        height: 1px;
        background-color: #fff;
        @include transition(.1s);
    }
}

.markMenu__top{margin-top: -7px;}
.markMenu__bottom{margin-top: 5px;}

.mark.is-active {
    .markMenu__top {
        -webkit-transform: rotate(45deg) translate(5px, 5px);
        transform: rotate(45deg) translate(5px, 5px);
    }
    .markMenu__bottom {
        -webkit-transform: rotate(-45deg) translate(5px, -5px);
        transform: rotate(-45deg) translate(5px, -5px);
    }
}

@media (min-width: $bp-md){
    .hamburger {
        display: none;
    }
}

/* globalNav
-------------------------------------------------- */
.globalNav{
    width: 100%;
}

.l-nav {
    visibility: hidden;
    position: fixed;
    top: 50px; // sp:l-headerのheight分下降
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

body.is-fix .l-nav {
    visibility: visible;
}

@media (min-width: $bp-md){
    .l-nav {
        position: static;
    }
}

/* globalNavSP
-------------------------------------------------- */
.globalNavSP{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    @include fxrow-je;
    
    &__content{
        opacity: 0;
        visibility: hidden;
        z-index: 100;
        min-width: 300px;
        -webkit-perspective: 500px;
        perspective: 500px;
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
        -webkit-transform-origin: right;
        transform-origin: right;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    &__bg {
        z-index: 90;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.5);
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
    }
}

body.is-fix {
    & .globalNavSP__content {
        opacity: 1;
        visibility: visible;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    
    & .globalNavSP__bg {
        opacity: 1;
        cursor: pointer;
    }
}



.gNavSP {
    width: 100%;
    height: 100%;
    background-color: $color-t1;  
}

.gNavSpMain{
    &__itm {
        position: relative;
        border-top: 1px solid $color-t3;
        &:last-child{border-bottom: 1px solid $color-t3;}
    }
    
    &__lnk{
        @include fxcol-as-jc;
        height: 60px;
        padding-left: 20px;
        color: #fff !important;
        text-transform: capitalize;
        letter-spacing: 2px;
        
        p:nth-child(2){
            font-size: 1.0rem;
        }
    }
}


/* globalNavPC
-------------------------------------------------- */
@media (min-width: $bp-md){
    .globalNavPC {
        position: fixed;
        top: 0;
        left: 0;
    }
    
    .gNavPcMain{
        position: relative;
        @include fxrow;
        @include --fxwrap;
        width: 200px;
        
        &__itm {
            width: 50%;
            height: 60px;
            border-bottom: 1px solid $color-t3;
            @include fxcol-ac-jc;
            text-align: center;
            
            &:nth-child(odd){
                border-right: 1px solid $color-t3;
            }
        }
        
        &__lnk{
            display: block;
            width: 100%;
            height: 100%;
            color: #fff !important;
            text-transform: capitalize;
            @include fxcol-ac-jc;
            @include transition(.1s);
            
            p:nth-of-type(2){
                font-size: 1.0rem;
            }
            
            &:hover{
                color: #333;
                background-color: darkgoldenrod;
            }
        }
    } 
    
    .gNavPcSub{
        position: relative;
        width: 200px;
        
        &__itm {
            width: 180px;
            height: 50px;
            margin-top: 15px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid $color-t3;
            @include fxcol-ac-jc;
            text-align: center;
        }
        
        &__lnk{
            display: block;
            width: 100%;
            height: 100%;
            color: #fff !important;
            text-transform: capitalize;
            @include fxcol-ac-jc;
            @include transition(.1s);
            position: relative;
            
            span{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 25px;
                @include fxrow-ac;
                -ms-flex-align: center;
                font-size: 1.8rem;
            }
            
            i{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 25px;
                @include fxrow-ac;
                -ms-flex-align: center;
                font-size: 1.6rem;
            }
            
            p:nth-of-type(2){
                font-size: 1.0rem;
            }
            
            &:hover{
                color: #333;
                background-color: darkgoldenrod;
            }
        }
    } 
    
    .gNavPcSns{
        position: relative;
        margin-right: auto;
        margin-left: auto;
        @include fxrow-ac-jc;
        
        &__itm {
            margin-top: 30px;
            padding: 0 15px;
            @include fxcol-ac-jc;
            text-align: center;
        }
        
        &__lnk{
            display: block;
            width: 100%;
            height: 100%;
            @include fxcol-ac-jc;
            @include transition(.1s);
            position: relative;
            @include transition(.2s);
            
            &:hover{
                @include transform-sc(1.2);
            }
        }
    } 
}


/* #l-MV
-------------------------------------------------- */
.h-mvWrap{
    padding-top: 50px !important; //l-headerの高さに応じて変更
    padding-bottom:0 !important; //l-headerの高さに応じて変更
    @include bgimg--cv("../images/mv--01.jpg");
}

.mvBody{
    height: 450px;
    background-image: url("../images/mv--logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    
    .row{
        height: 100%;
    }
    
    .mvContent{
        height: 100%;
        @include fxcol-ac-jc;        
        
        &__copyMain{
            margin-bottom: 20px;
            font-size: 3rem;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: 2px;
            text-shadow:
            1px  1px 2px #fff ,
            -1px  1px 2px #fff ,
            1px -1px 2px #fff ,
            -1px -1px 2px #fff;
            position: relative;
            
            &::after{
                content: "";
                width:120%;
                height: 1px;
                background-color :$color-t1;
                position: absolute;
                top: 50px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

@media (min-width: $bp-md){
    
    .mvBody{
        height: 500px;
        
        .mvContent{      
            &__copyMain{
                margin-bottom: 30px;
                font-size: 4rem;
                
                &::after{
                    position: absolute;
                    top: 70px;
                }
            }
        }
    }
    
}