/*
_layout.scss
*******************************************************************************************************************/

/*  .l-wrapper
-------------------------------------------------- */
.l-wrapper {
    position: relative;
    overflow: hidden;
}

/*  ***Wrap
-------------------------------------------------- */
[class*="Wrap"] {padding: 50px 0;}

@media (min-width: $bp-md) {[class*="Wrap"] {padding: 50px 0;}}
@media (min-width: $bp-lg) {[class*="Wrap"] {padding: 50px 0;}}

/*  .l-container
-------------------------------------------------- */
.l-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1100px;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}

.l-container--fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
    padding-right: $container-p;
    padding-left: $container-p;
    position: relative;
}



/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */
/* .body-**
-------------------------------------------------- */
.body-side{
    display: none;
}

@media (min-width: $bp-md){
    .body-wrap{
        @include fxrow;
    }
    
    .body-side{
        z-index: 200;
        display: block;
        position: relative;
        width: 200px;
        margin-right: 1px;
        color: #fff;
        background-color: $color-t1;
    }
    
    .body-content{
        flex: 1;
    }
}


/* #h-PHILOSOPHY
-------------------------------------------------- */
#h-PHILOSOPHY .h-philosophyWrap{
    
    .ttl-lvl2::after{content: "理念"}
}

/* #h-ABOUT
-------------------------------------------------- */
#h-ABOUT .h-aboutWrap{
    
    .ttl-lvl2::after{content: "日本橋法律事務所"}
}


/* #h-INFORMATION
-------------------------------------------------- */
#h-INFORMATION .h-informationWrap{
    color: #fff;
    background-color: $color-t1;
    
    .ttl-lvl2::after{content: "インフォメーション"}
}

/* #h-NEWS
-------------------------------------------------- */
#h-NEWS .h-newsWrap{
    
    .ttl-lvl2::after{content: "ニュース"}
}

/* #h-ACCESS
-------------------------------------------------- */
#h-ACCESS .h-accessWrap{
    
    .ttl-lvl2::after{content: "アクセス"}
}

/* bg-wrap
-------------------------------------------------- */
.bgLine{
    position: relative;
    
    &::after{
    }
}

@media (min-width: $bp-sm){
    .bgLine{
        position: relative;

        &::after{
           
        }
    }
}

