/*
_card.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Card      [crd-***]
-------------------------------------------------- */
/* crd-case
-------------------------------------------------- */
.crd-about {
    overflow: hidden;
    @include fxcol-jc;
    position: relative;
    margin-bottom: 15px;
    height: calc(100% - 15px);
    color: $color-b1;
    background-color: #fff;
    @include transition(.2s);
    
    &__ttl {
        z-index: 1;
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 15px;
        width: 195px;
        height: 90px;
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        background-color: $color-t1;
        @include fxrow-ae-je;
        
        p{
            color: #fff !important;
        }
    }
    
    &__img {
        position: relative;
        overflow: hidden;
        padding-top: 56.25%;
    }
    
    &__photo{
        @include po--ac;
        width: 100%;
        height: 100%;
        @include bg--cv;
        @include transition(.3s);
    }
    
    
}

@media (min-width: $bp-md) {  
    .crd-about {
        
        &__img {
        }
        
        &:hover{
            opacity: .8;
        }
        
        &:hover &__photo{
            width: 107%;
            height: 107%;
            @include transition(.3s)
        }
    }
}


