/*
_link.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Link      [lnk-***] 
-------------------------------------------------- */

/* .lnk-txt--**
-------------------------------------------------- */
.lnk-txt--thema,
.lnk-txt--subNav,
.lnk-txt--mainNav,
.lnk-txt--megaNav,
.lnk-txt--footer {
    display: inline-block;
    margin-top: 50px;
    color: inherit;
    -webkit-transition: all .2s;
    transition: all .2s;
    text-transform: capitalize;
    
    &::after{
        content: "";
        display:block;
        top:0;
        left:0;
        width: 100px;
        height: 1px;
        margin-top: 5px;
        background-color: currentColor;
        @include transition(.15s);
    }
    
    &:hover{
        color: #fff !important;
        background-color:$color-t1;
    }
}

/* Nav */
.lnk-txt--subNav{
    color: $color-b1;
}

.lnk-txt--mainNav{
    color: $color-b1;
    
    &:hover{
        border-bottom: 3px solid currentColor;
    }
}

.lnk-txt--megaNav{
    color: #fff !important;
    span{color: $color-t1 !important;}
}

/* thema */
.lnk-txt--thema{
    color: $color-t1 !important;
    margin-bottom: 5px;
}



/* -----------------------------------------------
/* Button    [btn-***]
-------------------------------------------------- */
/*  wrap-btn
-------------------------------------------------- */
.wrap-btn {
    @include fxrow-jc;
    max-width: 300px;
}

@media (min-width: $bp-sm) {
    .wrap-btn {
        margin-top: 5rem;
    }
}

/*  btn-type
-------------------------------------------------- */

.btnPrim--header,
.btnPrim--headerSP,
.btnPrim--white {
    @include infxrow-ac-jc;
    -webkit-user-select: none;
    position: relative;
    min-width: 100%;
    height: 60px;
    color: currentColor;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    text-transform: capitalize;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    @include transition(.1s);
}

/* white */
.btnPrim--white {
    color: #fff !important;
    border: 1px solid $color-t3;
    margin-bottom: 10px;
    
    span::before{
        content: "";
        position: absolute;
        top: 50%;
        bottom: 0;
        right: 15px;
        transform: translateY(-50%);
        width: 14px;
        height: 14px;
        clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 28% 100%, 51% 50%, 28% 0);
        background-color: $color-t3;
    }
    
    &:hover{
        color: $color-t1 !important;
        border: 1px solid $color-t1;
        background-color: #fff;
    }
    
    &:hover{
        span::before{
            background-color: $color-t1;
        }
    }
    
}

@media (min-width: $bp-md){
    
}


/* header */
.btnPrim--header {
    min-width: 200px;
    height: 48px; 
    color: $color-b1 !important;
    background-color: $color-s1;
    border-color: #d39906;
    
    &SP{
        min-width: 60px;
        height: 60px; 
    }
}

.btnPrim--headerSP {
    z-index: 200;
    position: absolute;
    top: 8px;
    right: 80px;
    width: 160px;
    height: 45px;
    font-size: 1.4rem;
    background-color: $color-s1;
    border-color: #d39906;
}
@media (min-width: $bp-md){
    .btnPrim--headerSP {
        display: none;
    }
}