/*
_page.scss
*******************************************************************************************************************/

/* -----------------------------------------------
/* topPage     [h-***]
-------------------------------------------------- */
/*  googlemap
-------------------------------------------------- */
.gmap {
    height: 0;
    padding-top: 56.25%;
    margin-bottom: 15px;
    position: relative;
    border: 3px solid $color-t1;
}

.gmap iframe {
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

@media (min-width: $bp-md) {
    .gmap {
        padding-top: 35%;
        margin-bottom: 50px;
        
        &::after{
            content: "";
            position: absolute;
            bottom: -10px;
            right: -10px;
            width: 100%;
            height: 100%;
            background-color: $color-t1;
        }
    }
    
    .gmap iframe {
        -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
        @include transition(.2s);
        
        &:hover{
            -webkit-filter: grayscale(0%);
            -moz-filter: grayscale(0%);
            -ms-filter: grayscale(0%);
            -o-filter: grayscale(0%);
            filter: grayscale(0%);
        }
    }
}



/*  news
-------------------------------------------------- */
.newsContainer{
    max-width: 800px;
    height: 200px;
    margin: 0 auto;
    overflow-y: scroll; 
}

.news{
    &__content {
        @include fxrow;
        @include --fxwrap;
        margin-bottom: 5px;
    }
    
    &__date {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 0;
        font-weight: 500;        
    }
    
    &__txt{
        & > a{
            color: $color-t2 !important;
        }
    }
}


@media (min-width: $bp-md) {
    .newsContainer{
        height: 170px;
        overflow-y: scroll; 
        font-size: 1.5rem;
    }
    .news{
        &__content {
            margin-bottom: 5px;
        }
        
        &__date {
            margin-right: 20px;
        }
        
        &__txt {
            padding: 5px 0;
            
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


/*  accessMethod
-------------------------------------------------- */
.accessMethod{
    padding: 10px 0;
    
    &__ttl{
        background-color: $color-t3;
    }
}

@media (min-width: $bp-md) {
    .accessMethod-wrap{
        @include fxrow-ac-jc;
    }
    .accessMethod-container{
        width: 100%;
    }
    
    .accessMethod{
        @include fxrow;
        
        width: 100%;
        border-bottom: 1px solid $color-t1;
        
        &__ttl{
            width: 100px;
            background-color: #fff;
            
        }
    }
}
