/*
_typography.scss
*******************************************************************************************************************/
/* -----------------------------------------------
/* Title    [ttl-***]
-------------------------------------------------- */

/* ttl-lvl2
-------------------------------------------------- */
.ttl-lvl2 {
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    
    &::after{
        content: "";
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
    
    & > [class*="hdg-"] {
        font-weight:700;
        letter-spacing: 2px;
        text-transform: capitalize;
    }
}

@media (min-width: $bp-md) {
    .ttl-lvl2 {
        margin-bottom: 70px;
        
        &::after{
            bottom: -30px;
        }
    }
}


/* -----------------------------------------------
/* Headings  [hdg-***]
-------------------------------------------------- */

.hdg-2 {font-size: 2.8rem; line-height: 1.75;}
.hdg-3 {font-size: 2.0rem;}
.hdg-4 {font-size: 1.6rem;}

@media (min-width: $bp-md) {
    .hdg-2 {font-size: 3.0rem;}
    .hdg-3 {font-size: 2.2rem;}
    .hdg-4 {font-size: 1.8rem;}
}

